.container{
    width: 100%;
    height: 410px;
    background-color: white;
    color:black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 1px 1px 7px rgba(37, 37, 37, 0.192);
    border-radius: 8px;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) ;
    @media screen and (max-width : 1400px){
        height: 430px;
    }

    &:hover{
        background-color: rgba(127, 178, 255, 0.616);
        & .img img{
            transform: scale(1.1);
            overflow: hidden;
            transition: all 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) ;
        }
    }

    & img{
        width: 200px;
        
    }

    & .content{
        display:block;
        text-align: center;
        & h4{
            margin: 0;
            font-size: larger;
        }
        & p{
            padding: 0;
            font-size: small;
            color: rgb(88, 88, 88);
        }
    }

    & .numbs{
        width: 98%;
        display: flex;
        justify-content: space-between;
        & h4{
            font-size: large;
            font-weight: 600;
        }
        & span{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:5px;
        }
    }
}