.wraper{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    align-items:center;
    @media screen and (max-width: 800px)  {
        grid-template-columns: repeat(3,1fr);
    }
    @media screen and (max-width: 600px)  {
        grid-template-columns: repeat(2,1fr);
    }
    @media screen and (max-width: 450px)  {
        grid-template-columns: repeat(1,1fr);
    }
}