.nav{
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.281);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;

    & img{
        width: 50px;
        height: 50px;
        padding: 5px;
    }
    & ul{
        list-style: none;
        display:  flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
}

.link{
    text-decoration: none;
    color: black;
}

.usersOptions{
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgba(0, 132, 255, 0.548);
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.counter{
    position: absolute;
    background-color: rgba(0, 46, 99, 0.671);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    width: 15px;
    height: 15px;
    padding: 8px;
    color: white;
    border-radius: 50%;
    right: -5px;
    bottom: -5px;
}
