.wraper{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid rgba(175, 175, 175, 0.61);
    box-shadow: 1px 2px 5px rgba(129, 129, 129, 0.548);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    & h1{
        color: rgba(0, 64, 202, 0.671);
        padding: 1rem;
        font-size: xx-large;
        
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    & p{
        color: red;
        margin: 0;
    }
    & input{
        padding: 0.5rem;
        border: 1px solid rgba(82, 151, 255, 0.39);
        border-radius: 5px;
        &:hover{
            border: 2px solid rgba(82, 151, 255, 0.39);
        }
    }
    & div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}