@import "tailwindcss";

*{
  box-sizing: border-box;
}
:root {
  min-width: 370px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(240, 253, 255);
  /* background-image: linear-gradient(115deg,rgba(180, 143, 58, 1) 0%, rgba(237, 102, 174, 1) 37%, rgba(69, 84, 252, 1) 91%);
  background-attachment: fixed; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
